@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: "Henny Penny", system-ui;
}

.poem {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.line {
  color: white;
  font-size: 1.5em;
  letter-spacing: 6px;
  font-weight: 900;
  display: inline-block;
}

@keyframes shakeA {
  0% { transform: translateX(-1px) rotate(-0.5deg); }
  50% { transform: translateX(1px) rotate(0.5deg); }
  100% { transform: translateX(0); }
}

@keyframes shakeB {
  0% { transform: skewX(-10deg); }
  50% { transform: skewX(10deg); }
  100% { transform: skewX(0); }
}

@keyframes shakeC {
  0% { transform: translateY(-2px); }
  50% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}

.l1 { animation: shakeA 0.6s infinite alternate; }
.l2 { animation: shakeB 0.9s infinite alternate; }
.l3 { animation: shakeC 0.7s infinite alternate; }

.l4 { animation: shakeB 0.5s infinite alternate-reverse; }
.l5 { animation: shakeA 1s infinite alternate; }
.l6 { animation: shakeC 0.8s infinite alternate; }

.l7 { animation: shakeA 0.4s infinite alternate; }
.l8 { animation: shakeC 0.9s infinite alternate-reverse; }
.l9 { animation: shakeB 0.6s infinite alternate; }

.l10 { animation: shakeA 0.7s infinite alternate; }
.l11 { animation: shakeC 0.5s infinite alternate; }
