@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');


html, body {
  font-family: "Swanky and Moo Moo", cursive;
  background: black;
  height: 100%;
  margin: 0;
padding-left: 2.5%;}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.line {
  color: white;
  font-size: 1.8em;
  letter-spacing: 6px;
  font-weight: 900;
  display: inline-block;
}

.l1{
  opacity: 12%;
}
.l2{
  opacity: 21%;
}
.l3{
  opacity: 30%;
}
.l4{
  opacity: 39%;
}
.l5{
  opacity: 48%;
}
.l6{
  opacity: 57%;
}
.l7{
  opacity: 66%;
}
.l8{
  opacity: 75%;
}
.l9{
  opacity: 84%;
}
.l10{
  opacity: 93%;
}
.l11{
  opacity: 100%;
}

/* .l1, .l4 , .l11{
    font-size: 2.4em;

} */
