@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


html, body {
  font-family: "Silkscreen", sans-serif;
  background: black;
  height: 100%;
  margin: 0;
  padding-left: 2.5%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poem {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.line {
  color: white;
  font-size: 1.8em;
  letter-spacing: 6px;
  font-weight: 900;
  display: inline-block;
}

.l1, .l4 , .l11{
    font-size: 2.4em;

}

.l11 {
  /* animation: blink 1s steps(1) infinite; */
    animation: blink 1.8s steps(1) infinite;

}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}