body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
  margin: 0;
}

.stairs {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

.stairs span {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;

  /* Base vertical stacking */
  transform: translate(
    calc(var(--i) * 40px),
    calc(var(--i) * 65px)
  );
}

/* TOP PLANE of step */
.stairs span:nth-child(odd) {
  transform:
    translate(
      calc(var(--i) * 40px),
      calc(var(--i) * 65px)
    )
    skew(60deg, -30deg)
    scaleY(0.65);
}

/* FRONT FACE of step */
.stairs span:nth-child(even) {
  transform:
    translate(
      calc(var(--i) * 40px),
      calc(var(--i) * 65px + 28px)
    )
    skew(0deg, -30deg)
    scaleY(1.35);
}
